body {
  background: black;
  color: white;
}
#controlpanel {
  background-color: black;
}

.list-group-item, .card-body {
  background: #333 !important;
}

.add-button {
  float: left;
  margin: 10px 10px 10px 0px;
}
.tracksource {
  float: right;
  text-transform: uppercase;
}
